body {
	margin: 0 auto;
	width: 900px;
	background-color: gray;
}

p {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
}

img {
	margin: auto;
	border-style: solid;
	border-color: black;
	border-size: 20px;
}